# Experiment 01

First Tests from the predictions.

In [191]:
import numpy as np
import pandas as pd
import math

import sys
sys.path.insert(1, 'C:\\Users\\Adrion\\Desktop\\TG\\DayTradeSystem\\Part1_Prediction')
import Utils 
from Utils import calculateEMA, calculateBB, addPreviousDays, removeColumns, getPeriod, mape, mae, createDate, getDate, printResult

import matplotlib.pyplot as plt
import matplotlib.dates as mpdates
import mplfinance as mpf
from mplfinance.original_flavor import candlestick_ohlc

import warnings
warnings.filterwarnings('ignore')


def getPeriod2(df, begin, end, resetIndex = False):
    """
    Returns the df in the chosen interval
    
    Object begin: Start date forrmated as 'yyyy.mm.dd'.
    Object   end: End date 'yyyy.mm.dd'.

    returns a dataframe with the historic of the selected period
    """
    
    indexBegin = df[df['date']==begin].index[0]
    indexEnd = df[df['date']==end].tail(1).index[0]
    
    if (resetIndex):
        return df[(df.index >= indexBegin) & (df.index <= indexEnd)].reset_index(drop=True)
    else: 
        return df[(df.index >= indexBegin) & (df.index <= indexEnd)]

In [192]:
dfColumns = ['date','open', 'high', 'low','close','volume']
newColumns = ['open', 'high', 'low', 'close']

TEST_BEGIN = '2022-04-06 10:00:00'
TEST_END = '2022-06-01 16:45:00'

TRAIN_BEGIN = '2020-03-31 10:00:00'
TRAIN_END = '2021-05-31 17:45:00'

TIMES = 10

In [193]:
# initialDf_PETR4[initialDf_PETR4['date']=='2022-04-06'].tail(1).index[0]

In [194]:
# currentDay =  pred_PETR4.iloc[0].date

# dayDf = getPeriod2(initialDf_PETR4, currentDay, currentDay)

In [195]:
df0 = pd.read_parquet('dfbtc_15m.parquet')
df0.columns = dfColumns
df0 = removeColumns(df0, ['volume'])

df = pd.read_parquet('dfpetr_15m.parquet')
df.columns = dfColumns
df = removeColumns(df, ['volume'])

df2 = pd.read_parquet('dfvale_15m.parquet')
df2.columns = dfColumns
df2 = removeColumns(df2, ['volume'])

initialDf_PETR4 = getPeriod2(df, TEST_BEGIN, TEST_END)
initialDf_VALE3 = getPeriod2(df2, TEST_BEGIN, TEST_END)
initialDf_BTC = getPeriod2(df0, TEST_BEGIN, TEST_END)

In [196]:
list = []
list1 = []
for i in range(len(initialDf_PETR4)):
    texto = initialDf_PETR4.iloc[i]['date'].split(" ")
    list.append(texto[1])
    list1.append(texto[0])


initialDf_PETR4['time'] = list
initialDf_PETR4['date'] = list1

In [197]:
initialDf_PETR4

             date   open   high    low  close      time
25628  2022-04-06  15.58  15.67  15.57  15.62  10:00:00
25629  2022-04-06  15.62  15.64  15.59  15.59  10:15:00
25630  2022-04-06  15.59  15.66  15.51  15.55  10:30:00
25631  2022-04-06  15.56  15.56  15.35  15.36  10:45:00
25632  2022-04-06  15.36  15.49  15.31  15.48  11:00:00
...           ...    ...    ...    ...    ...       ...
26714  2022-06-01  17.46  17.46  17.43  17.44  15:45:00
26715  2022-06-01  17.44  17.44  17.40  17.44  16:00:00
26716  2022-06-01  17.43  17.44  17.41  17.43  16:15:00
26717  2022-06-01  17.43  17.48  17.39  17.45  16:30:00
26718  2022-06-01  17.45  17.51  17.43  17.43  16:45:00

[1091 rows x 6 columns]

In [198]:
list = []
list1 = []
for i in range(len(initialDf_VALE3)):
    texto = initialDf_VALE3.iloc[i]['date'].split(" ")
    list.append(texto[1])
    list1.append(texto[0])

initialDf_VALE3['time'] = list
initialDf_VALE3['date'] = list1

In [199]:
list = []
list1 = []
for i in range(len(initialDf_BTC)):
    texto = initialDf_BTC.iloc[i]['date'].split(" ")
    list.append(texto[1])
    list1.append(texto[0])

initialDf_BTC['time'] = list
initialDf_BTC['date'] = list1

In [200]:
initialDf_VALE3

             date   open   high    low  close      time
25594  2022-04-06  95.13  96.16  95.12  95.72  10:00:00
25595  2022-04-06  95.72  96.12  95.54  95.73  10:15:00
25596  2022-04-06  95.82  96.50  95.82  96.38  10:30:00
25597  2022-04-06  96.48  96.50  95.96  96.30  10:45:00
25598  2022-04-06  96.30  96.60  96.12  96.41  11:00:00
...           ...    ...    ...    ...    ...       ...
26681  2022-06-01  88.60  88.70  88.45  88.49  15:45:00
26682  2022-06-01  88.56  88.72  88.45  88.68  16:00:00
26683  2022-06-01  88.69  88.78  88.60  88.71  16:15:00
26684  2022-06-01  88.69  88.75  88.53  88.53  16:30:00
26685  2022-06-01  88.53  88.65  88.10  88.21  16:45:00

[1092 rows x 6 columns]

In [201]:
pred_PETR4 = pd.read_pickle('PETR4_Pred_ytd_RF.pkl')
pred_PETR4.tail(5)

      high    low  high_pred  low_pred                 date
843  18.91  18.55   18.70596  18.09924  2022-05-26 00:00:00
844  18.67  17.75   18.70574  18.08100  2022-05-27 00:00:00
845  17.93  16.91   18.31284  17.77872  2022-05-30 00:00:00
846  17.78  17.31   18.04418  17.56856  2022-05-31 00:00:00
847  17.61  17.33   17.93274  17.49168  2022-06-01 00:00:00

In [202]:
list = []
for i in range(len(pred_PETR4)):
    texto = pred_PETR4.iloc[i]['date'].split(" ")
    list.append(texto[0])


pred_PETR4['date'] = list

In [203]:
pred_PETR4 = pred_PETR4[pred_PETR4['date'] >= '2022-04-06']

In [204]:
pred_PETR4

      high    low  high_pred  low_pred        date
809  15.67  15.31   15.86614  15.41324  2022-04-06
810  16.28  15.53   16.04096  15.48906  2022-04-07
811  16.45  16.18   16.49432  15.70904  2022-04-08
812  16.30  16.14   16.49374  15.75042  2022-04-11
813  16.57  16.15   16.53926  16.04554  2022-04-12
814  16.63  16.30   16.58138  16.06104  2022-04-13
815  16.74  16.27   16.66594  16.11550  2022-04-14
816  16.39  15.91   16.58938  16.14614  2022-04-18
817  16.71  16.25   16.55098  16.10304  2022-04-19
818  16.68  16.36   16.67350  16.23376  2022-04-20
819  16.34  15.83   16.57096  16.15150  2022-04-22
820  15.89  15.42   16.29032  15.83152  2022-04-25
821  15.97  15.61   16.26598  15.58454  2022-04-26
822  15.96  15.64   16.29340  15.66452  2022-04-27
823  15.99  15.79   16.09194  15.65906  2022-04-28
824  16.49  15.81   16.20798  15.62736  2022-04-29
825  15.84  15.31   16.03706  15.51826  2022-05-02
826  15.87  15.57   16.04170  15.58948  2022-05-03
827  16.80  15.87   16.26716  15.77456  2022-05-04
828  16.97  16.20   16.66938  16.15534  2022-05-05
829  17.29  16.66   16.67842  16.17554  2022-05-06
830  17.25  16.74   16.69390  16.21904  2022-05-09
831  17.15  16.81   16.68448  16.26228  2022-05-10
832  17.70  17.07   16.69922  16.27658  2022-05-11
833  17.79  17.37   17.44508  16.90784  2022-05-12
834  17.98  17.70   17.44508  16.90784  2022-05-13
835  18.21  17.76   17.44508  16.90784  2022-05-16
836  18.35  17.82   17.44508  16.90784  2022-05-17
837  18.04  17.45   17.44508  16.90784  2022-05-18
838  17.90  17.40   18.06988  17.58628  2022-05-19
839  18.18  17.88   18.14858  17.64844  2022-05-20
840  18.96  18.35   18.22710  17.71118  2022-05-23
841  18.63  17.83   18.22880  17.70764  2022-05-24
842  18.74  18.15   18.22198  17.69950  2022-05-25
843  18.91  18.55   18.70596  18.09924  2022-05-26
844  18.67  17.75   18.70574  18.08100  2022-05-27
845  17.93  16.91   18.31284  17.77872  2022-05-30
846  17.78  17.31   18.04418  17.56856  2022-05-31
847  17.61  17.33   17.93274  17.49168  2022-06-01

In [205]:
pred_VALE3 = pd.read_pickle('VALE3_Pred_ytd_RF.pkl')
pred_VALE3.head(15)

       high     low  high_pred   low_pred                 date
598  117.99  113.65  115.83312  113.06074  2021-06-01 00:00:00
599  115.67  113.50  115.95662  112.81456  2021-06-02 00:00:00
600  114.78  112.45  116.35880  113.51408  2021-06-04 00:00:00
601  112.65  110.73  113.90008  110.77262  2021-06-07 00:00:00
602  112.80  109.72  113.69858  111.11160  2021-06-08 00:00:00
603  113.33  109.14  111.68574  108.55262  2021-06-09 00:00:00
604  113.34  111.10  112.98552  110.54330  2021-06-10 00:00:00
605  114.75  112.50  113.21062  110.54418  2021-06-11 00:00:00
606  115.26  113.13  115.27256  112.84806  2021-06-14 00:00:00
607  114.49  111.33  115.20018  112.85812  2021-06-15 00:00:00
608  111.99  108.08  113.30996  110.39514  2021-06-16 00:00:00
609  109.15  104.91  110.57798  106.67040  2021-06-17 00:00:00
610  109.08  106.59  109.25030  105.65624  2021-06-18 00:00:00
611  110.73  107.22  110.03568  106.06316  2021-06-21 00:00:00
612  112.06  110.20  112.20216  109.24130  2021-06-22 00:00:00

In [206]:
list = []
for i in range(len(pred_VALE3)):
    texto = pred_VALE3.iloc[i]['date'].split(" ")
    list.append(texto[0])


pred_VALE3['date'] = list

In [207]:
pred_VALE3 = pred_VALE3[pred_VALE3['date'] >= '2022-04-06']

In [208]:
pred_BTC = pd.read_pickle('BTC_Pred_ytd_RF.pkl')
pred_BTC.head(15)

         high       low    high_pred     low_pred                 date
881  37894.81  35666.00  38561.00624  35756.71154  2021-06-01 00:00:00
882  38225.00  35920.00  38141.93294  35561.45186  2021-06-02 00:00:00
883  39476.00  37170.00  39393.47948  35944.60162  2021-06-03 00:00:00
884  39289.07  35555.15  40259.06052  36805.02174  2021-06-04 00:00:00
885  37925.00  34800.00  38605.74356  35568.96656  2021-06-05 00:00:00
886  36480.00  35222.00  37323.74478  34239.81168  2021-06-06 00:00:00
887  36900.00  33300.00  37139.00766  34296.31858  2021-06-07 00:00:00
888  34068.01  31000.00  37018.95804  33301.71078  2021-06-08 00:00:00
889  37534.79  32396.82  37292.63236  33076.46350  2021-06-09 00:00:00
890  38491.00  35782.00  39422.61346  35847.15632  2021-06-10 00:00:00
891  37680.40  35936.77  38315.72918  35808.30398  2021-06-11 00:00:00
892  37463.63  34600.36  38378.52636  35872.68718  2021-06-12 00:00:00
893  39380.00  34757.00  37300.73026  34302.68588  2021-06-13 00:00:00
894  41064.05  38730.00  40188.35814  36758.32184  2021-06-14 00:00:00
895  41330.00  39506.40  41750.53110  36963.33448  2021-06-15 00:00:00

In [209]:
list = []
for i in range(len(pred_BTC)):
    texto = pred_BTC.iloc[i]['date'].split(" ")
    list.append(texto[0])


pred_BTC['date'] = list

In [210]:
pred_BTC = pred_BTC[pred_BTC['date'] >= '2022-04-06']

### InÃ­cio do sistema

In [211]:
pred_PETR4

      high    low  high_pred  low_pred        date
809  15.67  15.31   15.86614  15.41324  2022-04-06
810  16.28  15.53   16.04096  15.48906  2022-04-07
811  16.45  16.18   16.49432  15.70904  2022-04-08
812  16.30  16.14   16.49374  15.75042  2022-04-11
813  16.57  16.15   16.53926  16.04554  2022-04-12
814  16.63  16.30   16.58138  16.06104  2022-04-13
815  16.74  16.27   16.66594  16.11550  2022-04-14
816  16.39  15.91   16.58938  16.14614  2022-04-18
817  16.71  16.25   16.55098  16.10304  2022-04-19
818  16.68  16.36   16.67350  16.23376  2022-04-20
819  16.34  15.83   16.57096  16.15150  2022-04-22
820  15.89  15.42   16.29032  15.83152  2022-04-25
821  15.97  15.61   16.26598  15.58454  2022-04-26
822  15.96  15.64   16.29340  15.66452  2022-04-27
823  15.99  15.79   16.09194  15.65906  2022-04-28
824  16.49  15.81   16.20798  15.62736  2022-04-29
825  15.84  15.31   16.03706  15.51826  2022-05-02
826  15.87  15.57   16.04170  15.58948  2022-05-03
827  16.80  15.87   16.26716  15.77456  2022-05-04
828  16.97  16.20   16.66938  16.15534  2022-05-05
829  17.29  16.66   16.67842  16.17554  2022-05-06
830  17.25  16.74   16.69390  16.21904  2022-05-09
831  17.15  16.81   16.68448  16.26228  2022-05-10
832  17.70  17.07   16.69922  16.27658  2022-05-11
833  17.79  17.37   17.44508  16.90784  2022-05-12
834  17.98  17.70   17.44508  16.90784  2022-05-13
835  18.21  17.76   17.44508  16.90784  2022-05-16
836  18.35  17.82   17.44508  16.90784  2022-05-17
837  18.04  17.45   17.44508  16.90784  2022-05-18
838  17.90  17.40   18.06988  17.58628  2022-05-19
839  18.18  17.88   18.14858  17.64844  2022-05-20
840  18.96  18.35   18.22710  17.71118  2022-05-23
841  18.63  17.83   18.22880  17.70764  2022-05-24
842  18.74  18.15   18.22198  17.69950  2022-05-25
843  18.91  18.55   18.70596  18.09924  2022-05-26
844  18.67  17.75   18.70574  18.08100  2022-05-27
845  17.93  16.91   18.31284  17.77872  2022-05-30
846  17.78  17.31   18.04418  17.56856  2022-05-31
847  17.61  17.33   17.93274  17.49168  2022-06-01

In [212]:
initialDf_PETR4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1091 entries, 25628 to 26718
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1091 non-null   object
 1   open    1091 non-null   float64
 2   high    1091 non-null   float64
 3   low     1091 non-null   float64
 4   close   1091 non-null   float64
 5   time    1091 non-null   object
dtypes: float64(4), object(2)
memory usage: 59.7+ KB

In [213]:
initialDf_PETR4

             date   open   high    low  close      time
25628  2022-04-06  15.58  15.67  15.57  15.62  10:00:00
25629  2022-04-06  15.62  15.64  15.59  15.59  10:15:00
25630  2022-04-06  15.59  15.66  15.51  15.55  10:30:00
25631  2022-04-06  15.56  15.56  15.35  15.36  10:45:00
25632  2022-04-06  15.36  15.49  15.31  15.48  11:00:00
...           ...    ...    ...    ...    ...       ...
26714  2022-06-01  17.46  17.46  17.43  17.44  15:45:00
26715  2022-06-01  17.44  17.44  17.40  17.44  16:00:00
26716  2022-06-01  17.43  17.44  17.41  17.43  16:15:00
26717  2022-06-01  17.43  17.48  17.39  17.45  16:30:00
26718  2022-06-01  17.45  17.51  17.43  17.43  16:45:00

[1091 rows x 6 columns]

In [214]:
initialDf_PETR4[initialDf_PETR4['date']=='2022-06-01'].tail(1).index[0]

26718

In [215]:
def getDay(df, day):
    return df[df['date']==day]

def buy(value, availableMoney, opr='normal'):
    lotValue = value*100
    quantity = math.floor(availableMoney/lotValue)
    
    amount = quantity*lotValue
    remainingMoney = availableMoney - amount
    
    return remainingMoney, quantity

def sell(value, amount, opr='normal'):
    if(opr == 'normal'):
        return value*amount*100
    else:
        return value*amount*100

In [216]:
def runStrategy(df, dailyDf, Money, stopLoss, std):
    size = len(df.index)

    Money = Money
    stopLoss = stopLoss

    orders = []

    for day in range(0,size):
        currentDay =  df.iloc[day].date

        lowPred = df.iloc[day].low_pred*(1+std)
        highPred = df.iloc[day].high_pred*(1-std)

        dayDf = getPeriod2(dailyDf, currentDay, currentDay)
        daySize = len(dayDf.index)

        op = 'none'
        quantity = 0
        trade = []

        for i in range(0,daySize):
            currentTime = dayDf.iloc[i]

            if((op == 'buy') and (currentTime.close < opPrice*(1-stopLoss) or currentTime.close >= highPred or i == daySize-1)):
                isStop = False
                if(currentTime.close < opPrice*(1-stopLoss)): isStop = True
                aux = sell(currentTime.close, quantity)
                Money = Money + aux 
                trade = trade + [currentTime.time, 'Sell', currentTime.close, currentTime.close-opPrice,(currentTime.close-opPrice)*100*quantity, isStop, Money]
                orders.append(trade)

                quantity = 0
                op = 'none'

            elif((op == 'sell') and (currentTime.close > opPrice*(1+stopLoss) or currentTime.close <= lowPred or i == daySize-1)):
                isStop = False
                if(currentTime.close > opPrice*(1+stopLoss)): isStop = True

                aux = sell(currentTime.close, quantity)
                Money = Money + (opPrice*100*quantity) + ((opPrice*100*quantity) - aux) 
                trade = trade + [currentTime.time, 'Buy', currentTime.close, opPrice-currentTime.close,(opPrice-currentTime.close)*100*quantity, isStop, Money]
                orders.append(trade)

                quantity = 0
                op = 'none'

            elif(op == 'none' and i < daySize-1 ):
                if(currentTime.close <= lowPred):
                    Money, quantity = buy(currentTime.close, Money)
                    opPrice = currentTime.close
                    op = 'buy'

                    trade = [currentTime.date, quantity, currentTime.time, 'Buy', currentTime.close]

                elif(currentTime.close >=  highPred):
                    Money, quantity = buy(currentTime.close, Money)
                    opPrice = currentTime.close
                    op = 'sell'

                    trade = [currentTime.date, quantity, currentTime.time, 'Sell', currentTime.close]
        print('eday '+str(day)+' money: '+str(Money))
    
    ordersDf = pd.DataFrame(orders)
    ordersDf.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']
    return ordersDf

In [217]:
testPetr = runStrategy(pred_PETR4, initialDf_PETR4, 100000, 0.01, 0.02)
print('Accuracy: '+str(round(100*len(testPetr[testPetr['profit'] > 0].index)/len(testPetr.index), 2)))

testVale = runStrategy(pred_VALE3, initialDf_VALE3, 100000, 0.01, 0.02)
print('Accuracy: '+str(round(100*len(testVale[testVale['profit'] > 0].index)/len(testVale.index), 2)))

testBtc = runStrategy(pred_BTC, initialDf_BTC, 100000, 0.01, 0.02)
print('Accuracy: '+str(round(100*len(testBtc[testBtc['profit'] > 0].index)/len(testBtc.index), 2)))

eday 0 money: 98529.0
eday 1 money: 97751.99999999999
eday 2 money: 97574.99999999997
eday 3 money: 97754.99999999999
eday 4 money: 98758.0
eday 5 money: 98273.0
eday 6 money: 99576.99999999999
eday 7 money: 98438.99999999999
eday 8 money: 98309.00000000003
eday 9 money: 98886.99999999999
eday 10 money: 97244.0
eday 11 money: 97554.0
eday 12 money: 96821.99999999999
eday 13 money: 95906.99999999997
eday 14 money: 96146.99999999996
eday 15 money: 97845.99999999996
eday 16 money: 98137.99999999996
eday 17 money: 99760.99999999991
eday 18 money: 98318.99999999994
eday 19 money: 98855.9999999999
eday 20 money: 97829.99999999988
eday 21 money: 99254.99999999988
eday 22 money: 99237.99999999988
eday 23 money: 97734.99999999988
eday 24 money: 96851.9999999999

eday 25 money: 96203.9999999999
eday 26 money: 95991.9999999999
eday 27 money: 97603.99999999991
eday 28 money: 99493.99999999991
eday 29 money: 100837.99999999988
eday 30 money: 101724.99999999988
eday 31 money: 99549.9999999999
eday 32 money: 101557.99999999991
eday 33 money: 100661.99999999994
eday 34 money: 100243.99999999996
eday 35 money: 96895.99999999996
eday 36 money: 96620.99999999996
eday 37 money: 95378.99999999996
eday 38 money: 95378.99999999996
Accuracy: 49.02
eday 0 money: 99070.0
eday 1 money: 99840.0
eday 2 money: 100010.0
eday 3 money: 101689.99999999999
eday 4 money: 101749.99999999999
eday 5 money: 102689.99999999997
eday 6 money: 102625.99999999999
eday 7 money: 101240.0
eday 8 money: 100216.99999999999
eday 9 money: 99700.00000000001
eday 10 money: 97097.00000000004
eday 11 money: 98705.00000000006
eday 12 money: 98753.00000000012
eday 13 money: 98756.00000000013
eday 14 money: 98239.00000000013
eday 15 money: 100153.00000000015
eday 16 money: 101305.00000000012
eday 17 money: 102037.00000000012
eday 18 money: 102325.00000000012
eday 19 money: 102049.00000000012
eday 20 money: 105525.00000000016
eday 21 money: 103796.00000000016
eday 22 money: 103432.00000000016
eday 23 money: 102147.00000000015
eday 24 money: 103694.00000000023
eday 25 money: 103005.00000000019
eday 26 money: 101457.00000000017
eday 27 money: 100809.00000000016
eday 28 money: 99669.00000000023
eday 29 money: 99357.00000000028
eday 30 money: 100101.00000000032
eday 31 money: 99500.00000000032
eday 32 money: 99968.00000000033
eday 33 money: 100606.00000000035
eday 34 money: 100487.00000000035
eday 35 money: 101026.00000000036
eday 36 money: 100641.00000000038
eday 37 money: 100718.00000000036
eday 38 money: 100278.00000000038
Accuracy: 53.67
eday 0 money: 100000.0
eday 1 money: 100000.0
eday 2 money: 100000.0
eday 3 money: 100000.0
eday 4 money: 100000.0
eday 5 money: 100000.0
eday 6 money: 100000.0
eday 7 money: 100000.0
eday 8 money: 100000.0
eday 9 money: 100000.0
eday 10 money: 100000.0
eday 11 money: 100000.0
eday 12 money: 100000.0
eday 13 money: 100000.0
eday 14 money: 100000.0
eday 15 money: 100000.0
eday 16 money: 100000.0
eday 17 money: 100000.0
eday 18 money: 100000.0
eday 19 money: 100000.0
eday 20 money: 100000.0
eday 21 money: 100000.0
eday 22 money: 100000.0
eday 23 money: 100000.0
eday 24 money: 100000.0
eday 25 money: 100000.0
eday 26 money: 100000.0
eday 27 money: 100000.0
eday 28 money: 100000.0
eday 29 money: 100000.0
eday 30 money: 100000.0
eday 31 money: 100000.0
eday 32 money: 100000.0
eday 33 money: 100000.0
eday 34 money: 100000.0
eday 35 money: 100000.0
eday 36 money: 100000.0
eday 37 money: 100000.0
eday 38 money: 100000.0
eday 39 money: 100000.0
eday 40 money: 100000.0
eday 41 money: 100000.0
eday 42 money: 100000.0
eday 43 money: 100000.0
eday 44 money: 100000.0
eday 45 money: 100000.0
eday 46 money: 100000.0
eday 47 money: 100000.0
eday 48 money: 100000.0
eday 49 money: 100000.0
eday 50 money: 100000.0
eday 51 money: 100000.0
eday 52 money: 100000.0
eday 53 money: 100000.0
eday 54 money: 100000.0
eday 55 money: 100000.0
eday 56 money: 100000.0
Accuracy: 50.31

In [218]:
testPetr.tail(10)

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
143,2022-05-26,52,11:00:00,Sell,18.86,16:45:00,Buy,18.66,0.20,1040.0,False,100244.0
144,2022-05-27,54,10:00:00,Buy,18.37,10:30:00,Sell,18.11,-0.26,-1404.0,True,98840.0
145,2022-05-27,54,10:45:00,Buy,18.11,13:30:00,Sell,17.91,-0.20,-1080.0,True,97760.0
146,2022-05-27,54,13:45:00,Buy,17.93,16:45:00,Sell,17.77,-0.16,-864.0,False,96896.0
147,2022-05-30,55,10:00:00,Buy,17.46,11:00:00,Sell,17.18,-0.28,-1540.0,True,95356.0
148,2022-05-30,55,11:15:00,Buy,17.18,16:45:00,Sell,17.41,0.23,1265.0,False,96621.0
149,2022-05-31,54,10:00:00,Buy,17.69,10:15:00,Sell,17.69,0.00,0.0,False,96621.0
150,2022-05-31,54,10:30:00,Buy,17.73,11:45:00,Sell,17.54,-0.19,-1026.0,True,95595.0
151,2022-05-31,54,12:00:00,Buy,17.50,16:45:00,Sell,17.46,-0.04,-216.0,False,95379.0
152,2022-06-01,54,10:00:00,Buy,17.43,16:45:00,Sell,17.43,0.00,0.0,False,95379.0

In [219]:
testVale.tail(10)

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
249,2022-05-31,11,14:45:00,Buy,86.32,15:00:00,Sell,86.27,-0.05,-55.0,False,100190.0
250,2022-05-31,11,15:15:00,Buy,86.14,15:30:00,Sell,86.07,-0.07,-77.0,False,100113.0
251,2022-05-31,11,15:45:00,Buy,85.81,16:15:00,Sell,85.73,-0.08,-88.0,False,100025.0
252,2022-05-31,11,16:30:00,Buy,85.86,16:45:00,Sell,86.49,0.63,693.0,False,100718.0
253,2022-06-01,11,10:00:00,Buy,86.55,10:15:00,Sell,86.48,-0.07,-77.0,False,100641.0
254,2022-06-01,11,10:30:00,Buy,86.97,10:45:00,Sell,87.05,0.08,88.0,False,100729.0
255,2022-06-01,11,11:00:00,Buy,86.77,11:15:00,Sell,86.75,-0.02,-22.0,False,100707.0
256,2022-06-01,11,11:30:00,Buy,87.05,11:45:00,Sell,87.50,0.45,495.0,False,101202.0
257,2022-06-01,11,12:00:00,Sell,87.46,14:00:00,Buy,88.37,-0.91,-1001.0,True,100201.0
258,2022-06-01,11,14:15:00,Sell,88.28,16:45:00,Buy,88.21,0.07,77.0,False,100278.0

In [220]:
df = pred_VALE3
dailyDf = initialDf_VALE3
size = len(df.index)

Money = 100000
stopLoss = 0.01
LastTrade = ['None',10,100]

orders = []

for day in range(0,size):
    currentDay =  df.iloc[day].date

    lowPred = df.iloc[day].low_pred*1.01
    highPred = df.iloc[day].high_pred*0.99
    
    dayDf = getPeriod2(dailyDf, currentDay, currentDay)
    daySize = len(dayDf.index)
    
    op = 'none'
    quantity = 0
    trade = []
    
    print('Begining day '+str(day)+' money: '+str(Money))
    for i in range(0,daySize):
        currentTime = dayDf.iloc[i]
        
        if((op == 'buy') and (currentTime.close < opPrice*(1-stopLoss) or currentTime.close >= highPred or i == daySize-1)):
            isStop = False
            if(currentTime.close < opPrice*(1-stopLoss)): isStop = True
            aux = sell(currentTime.close, quantity)
            Money = Money + aux 
            trade = trade + [currentTime.time, 'Sell', currentTime.close, currentTime.close-opPrice,(currentTime.close-opPrice)*100*quantity, isStop, Money]
            orders.append(trade)
  
            quantity = 0
            op = 'none'
        
        elif((op == 'sell') and (currentTime.close > opPrice*(1+stopLoss) or currentTime.close <= lowPred or i == daySize-1)):
            isStop = False
            if(currentTime.close > opPrice*(1+stopLoss)): isStop = True

            aux = sell(currentTime.close, quantity)
            Money = Money + (opPrice*100*quantity) + ((opPrice*100*quantity) - aux) 
            trade = trade + [currentTime.time, 'Buy', currentTime.close, opPrice-currentTime.close,(opPrice-currentTime.close)*100*quantity, isStop, Money]
            orders.append(trade)
            
            quantity = 0
            op = 'none'
        
        elif(op == 'none' and i < daySize-1 ):
            if(currentTime.close <= lowPred):
                Money, quantity = buy(currentTime.close, Money)
                opPrice = currentTime.close
                op = 'buy'
                
                trade = [currentTime.date, quantity, currentTime.time, 'Buy', currentTime.close]
                
            elif(currentTime.close >=  highPred):
                Money, quantity = buy(currentTime.close, Money)
                opPrice = currentTime.close
                op = 'sell'
                
                trade = [currentTime.date, quantity, currentTime.time, 'Sell', currentTime.close]

test2 = pd.DataFrame(orders)
test2.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']
test2.tail(60)

test2 = pd.DataFrame(orders)
test2.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']

print('Accuracy: '+str(round(100*len(test2[test2['profit'] > 0].index)/len(test2.index), 2)))
test2.head(10)

Begining day 0 money: 100000
Begining day 1 money: 99070.0
Begining day 2 money: 98869.99999999999
Begining day 3 money: 99909.99999999999
Begining day 4 money: 100829.99999999999
Begining day 5 money: 102499.99999999999
Begining day 6 money: 103319.99999999999
Begining day 7 money: 103836.99999999999
Begining day 8 money: 102451.0
Begining day 9 money: 101427.99999999999
Begining day 10 money: 100911.00000000001
Begining day 11 money: 98199.00000000004
Begining day 12 money: 100071.00000000004
Begining day 13 money: 99531.00000000004
Begining day 14 money: 99111.00000000004
Begining day 15 money: 99716.00000000003
Begining day 16 money: 100464.00000000003
Begining day 17 money: 101304.00000000004
Begining day 18 money: 103200.00000000004
Begining day 19 money: 103488.00000000004
Begining day 20 money: 102636.00000000004
Begining day 21 money: 103457.00000000006
Begining day 22 money: 101728.00000000006
Begining day 23 money: 100922.00000000007
Begining day 24 money: 99637.00000000006
Begining day 25 money: 101984.00000000007
Begining day 26 money: 101607.00000000006
Begining day 27 money: 100059.00000000004
Begining day 28 money: 101079.00000000006
Begining day 29 money: 101910.00000000006
Begining day 30 money: 100794.00000000007
Begining day 31 money: 101598.00000000007
Begining day 32 money: 101034.00000000009
Begining day 33 money: 101874.00000000009
Begining day 34 money: 102810.00000000009
Begining day 35 money: 103758.00000000007
Begining day 36 money: 103518.00000000007
Begining day 37 money: 103932.00000000006
Begining day 38 money: 105568.00000000004
Accuracy: 50.63

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
0,2022-04-06,10,10:00:00,Sell,95.72,16:45:00,Buy,96.65,-0.93,-930.0,False,99070.0
1,2022-04-07,10,10:00:00,Buy,95.35,10:15:00,Sell,95.91,0.56,560.0,False,99630.0
2,2022-04-07,10,10:30:00,Sell,96.52,16:00:00,Buy,97.64,-1.12,-1120.0,True,98510.0
3,2022-04-07,10,16:15:00,Sell,97.60,16:45:00,Buy,97.24,0.36,360.0,False,98870.0
4,2022-04-08,10,10:00:00,Sell,97.04,11:00:00,Buy,95.75,1.29,1290.0,False,100160.0
5,2022-04-08,10,11:15:00,Buy,95.83,15:00:00,Sell,94.74,-1.09,-1090.0,True,99070.0
6,2022-04-08,10,15:15:00,Buy,94.83,16:45:00,Sell,95.67,0.84,840.0,False,99910.0
7,2022-04-11,10,10:00:00,Buy,93.10,16:45:00,Sell,94.02,0.92,920.0,False,100830.0
8,2022-04-12,10,10:00:00,Sell,95.59,15:15:00,Buy,93.75,1.84,1840.0,False,102670.0
9,2022-04-12,10,15:30:00,Buy,93.67,16:45:00,Sell,93.50,-0.17,-170.0,False,102500.0

In [221]:
df = pred_BTC
dailyDf = initialDf_BTC
size = len(df.index)

Money = 100000
stopLoss = 0.01
LastTrade = ['None',10,100]

orders = []

for day in range(0,size):
    currentDay =  df.iloc[day].date

    lowPred = df.iloc[day].low_pred*1.01
    highPred = df.iloc[day].high_pred*0.99
    
    dayDf = getPeriod2(dailyDf, currentDay, currentDay)
    daySize = len(dayDf.index)
    
    op = 'none'
    quantity = 0
    trade = []
    
    print('Begining day '+str(day)+' money: '+str(Money))
    for i in range(0,daySize):
        currentTime = dayDf.iloc[i]
        
        if((op == 'buy') and (currentTime.close < opPrice*(1-stopLoss) or currentTime.close >= highPred or i == daySize-1)):
            isStop = False
            if(currentTime.close < opPrice*(1-stopLoss)): isStop = True
            aux = sell(currentTime.close, quantity)
            Money = Money + aux 
            trade = trade + [currentTime.time, 'Sell', currentTime.close, currentTime.close-opPrice,(currentTime.close-opPrice)*100*quantity, isStop, Money]
            orders.append(trade)
  
            quantity = 0
            op = 'none'
        
        elif((op == 'sell') and (currentTime.close > opPrice*(1+stopLoss) or currentTime.close <= lowPred or i == daySize-1)):
            isStop = False
            if(currentTime.close > opPrice*(1+stopLoss)): isStop = True

            aux = sell(currentTime.close, quantity)
            Money = Money + (opPrice*100*quantity) + ((opPrice*100*quantity) - aux) 
            trade = trade + [currentTime.time, 'Buy', currentTime.close, opPrice-currentTime.close,(opPrice-currentTime.close)*100*quantity, isStop, Money]
            orders.append(trade)
            
            quantity = 0
            op = 'none'
        
        elif(op == 'none' and i < daySize-1 ):
            if(currentTime.close <= lowPred):
                Money, quantity = buy(currentTime.close, Money)
                opPrice = currentTime.close
                op = 'buy'
                
                trade = [currentTime.date, quantity, currentTime.time, 'Buy', currentTime.close]
                
            elif(currentTime.close >=  highPred):
                Money, quantity = buy(currentTime.close, Money)
                opPrice = currentTime.close
                op = 'sell'
                
                trade = [currentTime.date, quantity, currentTime.time, 'Sell', currentTime.close]

test3 = pd.DataFrame(orders)
test3.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']
test3.tail(60)

test3 = pd.DataFrame(orders)
test3.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']

print('Accuracy: '+str(round(100*len(test3[test3['profit'] > 0].index)/len(test3.index), 2)))
test3.head(10)

Begining day 0 money: 100000
Begining day 1 money: 100000.0
Begining day 2 money: 100000.0
Begining day 3 money: 100000.0
Begining day 4 money: 100000.0
Begining day 5 money: 100000.0
Begining day 6 money: 100000.0
Begining day 7 money: 100000.0
Begining day 8 money: 100000.0
Begining day 9 money: 100000.0
Begining day 10 money: 100000.0
Begining day 11 money: 100000.0
Begining day 12 money: 100000.0
Begining day 13 money: 100000.0
Begining day 14 money: 100000.0
Begining day 15 money: 100000.0
Begining day 16 money: 100000.0
Begining day 17 money: 100000.0
Begining day 18 money: 100000.0
Begining day 19 money: 100000.0
Begining day 20 money: 100000.0
Begining day 21 money: 100000.0
Begining day 22 money: 100000.0
Begining day 23 money: 100000.0
Begining day 24 money: 100000.0
Begining day 25 money: 100000.0
Begining day 26 money: 100000.0
Begining day 27 money: 100000.0
Begining day 28 money: 100000.0
Begining day 29 money: 100000.0
Begining day 30 money: 100000.0
Begining day 31 money: 100000.0
Begining day 32 money: 100000.0
Begining day 33 money: 100000.0
Begining day 34 money: 100000.0
Begining day 35 money: 100000.0
Begining day 36 money: 100000.0
Begining day 37 money: 100000.0
Begining day 38 money: 100000.0
Begining day 39 money: 100000.0
Begining day 40 money: 100000.0
Begining day 41 money: 100000.0
Begining day 42 money: 100000.0
Begining day 43 money: 100000.0
Begining day 44 money: 100000.0
Begining day 45 money: 100000.0
Begining day 46 money: 100000.0
Begining day 47 money: 100000.0
Begining day 48 money: 100000.0
Begining day 49 money: 100000.0
Begining day 50 money: 100000.0
Begining day 51 money: 100000.0
Begining day 52 money: 100000.0
Begining day 53 money: 100000.0
Begining day 54 money: 100000.0
Begining day 55 money: 100000.0
Begining day 56 money: 100000.0
Accuracy: 44.83

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
0,2022-04-06,0,13:45:00,Buy,44165.90,17:00:00,Sell,43559.42,-606.48,-0.0,True,100000.0
1,2022-04-06,0,17:15:00,Buy,43717.32,23:45:00,Sell,43170.47,-546.85,-0.0,True,100000.0
2,2022-04-08,0,01:00:00,Sell,43586.12,23:00:00,Buy,42212.01,1374.11,0.0,False,100000.0
3,2022-04-08,0,23:15:00,Buy,42155.24,23:45:00,Sell,42252.01,96.77,0.0,False,100000.0
4,2022-04-09,0,05:45:00,Sell,42586.04,23:45:00,Buy,42753.97,-167.93,-0.0,False,100000.0
5,2022-04-10,0,22:30:00,Buy,42163.89,23:45:00,Sell,42158.85,-5.04,-0.0,False,100000.0
6,2022-04-11,0,09:45:00,Buy,41416.22,13:15:00,Sell,40988.97,-427.25,-0.0,True,100000.0
7,2022-04-11,0,13:30:00,Buy,41049.18,15:45:00,Sell,40581.51,-467.67,-0.0,True,100000.0
8,2022-04-11,0,16:00:00,Buy,40688.10,19:15:00,Sell,39916.52,-771.58,-0.0,True,100000.0
9,2022-04-11,0,19:30:00,Buy,39979.51,21:45:00,Sell,39395.29,-584.22,-0.0,True,100000.0